<!--
COMP229-F2022-ASSIGNMENT1-822281549
Sheila Donnelly
Student #822281549
October 7th, 2022
-->

<!--General Page Content - Page title, 2 lines, and consistent font-->


<h1> </img> <%= title %> </h1>
<div class="mb-3" style="font-family: Geneva, Verdana, sans-serif;">
    <hr><hr>
</div>



