<!--
COMP229-F2022-ASSIGNMENT1-822281549
Sheila Donnelly
Student #822281549
October 7th, 2022
-->

<nav class="navbar fixed-bottom bg-light">
    <div class="container-fluid">
      <h5 id="copyright">&copy; Copyright 2022</h5>
    </div>
  </nav>