<!--
COMP229-F2022-ASSIGNMENT1-822281549
Sheila Donnelly
Student #822281549
October 7th, 2022
-->

<!--About Me Page-->

<!--Full name-->

<h2 class="about-name"> Sheila Jean Donnelly </h2>
<br><br>


<!--Headshot - right aligned-->
<fieldset class="about-headshot">
    <img src="/content/images/Sheila.JPG" alt="Headshot of Sheila looking at the camera with an INTJ smile" width="300"  style="float:left"></img>
    <br>

<!--Link to PDF CV below image-->
    <a href="/content/files/Sheila Donnelly 2022 CV.pdf" target="_blank" class="about-cvlink-font">CV Link</a>
    <br><br>
</fieldset>


<!--Information about my experience and goals-->
<p class="about-goal-padding">
    I am a soon to be graduate of the Software Engineering Technology Program with Centennial College, a previous graduate of both Materials and Operations Management and Office Admnistration Programs from Conestoga College. I bring 15 years of applied manufacturing and service industry know-how with a strong drive to make the user experience more pleasant.
    <br><br>
    My dream is to gain the skill needed to design and develop user friendly, intuitive, and well-rounded Enterprise Resource Planning Software (ERP). I am currently starting my 2nd year of the Software Engineering Technology program at Centennial College to gain the coding skills to see my project through. I will also be looking to leverage AI elements of my program to see if I can take it to the next level to develop an intuitive software changeover product to allieviate the pain of the traditional 3-year manual application changeover. 
    <br><br>
    I love leading and managing projects, working with and elevating team members, get a real thrill out of seeing idea’s come to life, and believe that everyting is possible.
    <br><br>
    In my free time, I enjoy spending time with my son, hiking the moutnais of BC, 

</p>

