<!--
COMP229-F2022-ASSIGNMENT1-822281549
Sheila Donnelly
Student #822281549
October 7th, 2022
-->

<!--Projects Page-->
<!--Column Separator for clean look (Bootstrap: Columns)-->
<div class="container column-containers">
    <div class="row gy-5 gx-5">
        <div class="col-md-4">

            <!--Project Showcase-->
            <!--#1 - EasyParenting Microservice -->
            <!--Carousel start - (Bootstrap: Carousel)-->
            <div class="p-1 project-carousel-object-background">
                <div id="carouselEasyParentingIndicators" class="carousel slide" data-bs-ride="true">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselEasyParentingIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselEasyParentingIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselEasyParentingIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <img src="/content/images/EasyParenting Front End.JPG" class="d-block" alt="EasyParenting Front End" width="380">
                        </div>        
                        <div class="carousel-item" data-bs-interval="10000">
                            <img src="/content/images/EasyParenting Domain Class Diagram.JPG" class="d-block" alt="EasyParenting Front End Design" width="380">
                        </div>
                        <div class="carousel-item" data-bs-interval="10000">
                            <img src="/content/images/EasyParenting Design Patterns.JPG" class="d-block" alt="EasyParenting Design Patterns" width="380">
                        </div>
                        <button class="carousel-control-prev project-button-controls" type="button" data-bs-target="#carouselEasyParentingIndicators" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next project-button-controls" type="button" data-bs-target="#carouselEasyParentingIndicators" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div> 
                </div> 
            </div>

            <!--EasyParenting Details-->
            <h3>EasyParenting Microservice<h3>
            <h5>Sofware Systems Design Project - Summer 2022</h5>
            <p class="project-heading">Scrum Master/Project Manager (A+)</p>
            <p class="project-description">Connecting Parents with essential services that matter, in real time. Using a Microservice structure to connect new parents with babysitters, counsellors and community groups at a time when there is no time.</p>

        </div>
        <div class="col-md-4">

            <!--#2 - SnowAway Shovelling Services - Center Column -->
            <div class="p-2 project-carousel-object-background">
                <div id="carouselSnowAwayIndicators" class="carousel slide" data-bs-ride="true">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselSnowAwayIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselSnowAwayIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselSnowAwayIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <img src="/content/images/SnowAway User Interface.JPG" class="d-block" alt="SnowAway User Interface" width="380">
                        </div>        
                        <div class="carousel-item" data-bs-interval="10000">
                            <img src="/content/images/SnowAway Misconduct Sequence Diagram.JPG" class="d-block" alt="SnowAway Misconduct Sequence Diagram" width="380">
                        </div>
                        <div class="carousel-item" data-bs-interval="10000">
                            <img src="/content/images/SnowAway Domain Class Diagram.JPG" class="d-block" alt="SnowAway Domain Class Diagram" width="380">
                        </div>
                        <button class="carousel-control-prev project-button-controls" type="button" data-bs-target="#carouselSnowAwayIndicators" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next project-button-controls" type="button" data-bs-target="#carouselSnowAwayIndicators" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div> 
                </div> 
            </div>

            <!--SnowAway Details-->
            <h3>SnowAway Snow Shovelling Service<h3>
            <h5>Sofware Requirements Engineering Project - Winter 2022 </h5>
            <p class="project-heading">Scrum Master/Project Manager (A+)</p>
            <p class="project-description">Connecting community members for quick, simple snow shovelling services. A new spin on the old fashioned way for kids and community members to make a few bucks.</p>

        </div>
        <div class="col-md-4">

             <!--#3 - Future Project: Fortune ERP III - Last Column -->
            <div class="p-3 project-carousel-object-background">
                <div id="carouselFortuneIndicators" class="carousel slide" data-bs-ride="true">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselFortuneIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselFortuneIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselFortuneIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <img src="/content/images/Fortune.jpg" class="d-block" alt="Fortune Logo" width="380";>
                        </div>        
                        <div class="carousel-item" data-bs-interval="10000">
                            <img src="/content/images/Fortune code.jpg" class="d-block" alt="Fortune Teaser" width="380">
                        </div>
                        <div class="carousel-item" data-bs-interval="10000">
                            <img src="/content/images/Fortune Hist.png" class="d-block" alt="Fortune Sample Histogram" width="380">
                        </div>
                        <button class="carousel-control-prev project-button-controls" type="button" data-bs-target="#carouselFortuneIndicators" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next project-button-controls" type="button" data-bs-target="#carouselFortuneIndicators" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div> 
                </div> 
            </div>

            <!--SnowAway Details-->
            <h3>Fortune ERP III<h3>
            <i><h5>The Future at your Fingertips - coming soon</h5></i>
            <p class="project-heading">Architect</p>
            <p class="project-description">A simple take on a complex world. ERP done right.</p>

        </div>
    </div>
</div>


