<!--
COMP229-F2022-ASSIGNMENT1-822281549
Sheila Donnelly
Student #822281549
October 7th, 2022
-->

<!--Services Offered Page-->
<!--Bootstrap: Flush List-->
<ul class="list-group list-group-flush">
    <li class="list-group-item">Architectural Consulting and Customization Services</li>
    <li class="list-group-item">IT Project Management</li>
    <li class="list-group-item">Application Design</li>
    <li class="list-group-item">Full Stack Development</li>
    <li class="list-group-item">Java</li>
    <li class="list-group-item">C#</li>
    <li class="list-group-item">MEAN Stack</li>
    <li class="list-group-item">Javascript</li>
    <li class="list-group-item">CSS</li>
    <li class="list-group-item">HTML</li>
    <li class="list-group-item">Applied Operational Consulting</li>
    <li class="list-group-item">Lean, Six Sigma and Theory of Constraints Consulting</li>
    <li class="list-group-item">Service Optimization</li>
    <li class="list-group-item">Industrial Engineering</li>
  </ul>
